{% block cartProduct %}
    <div class='cart-product ml-3 mr-3' id="{{ cartProduct.product.id }}">
        <div class="title mr-auto">
            <span>{{ cartProduct.product.name }}</span>
        </div>
        <div class="count ml-auto">
            <button class="btn btn-dark cart-btn">-</button>
            <span>{{ cartProduct.productCount }}</span>
            <button class="btn btn-dark cart-btn">+</button>
        </div>
    </div>
{% endblock %}