.App {
  text-align: center;
}

.App .main-container {
  background-color: #231F20;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
}

.App .main-container {
  background-color: #231F20;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header {
  background-color: #231F20;
  min-height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header .header-container {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header .logo {
  color: #999999;
}

.header .logo:hover {
  color: #ffffff;
}

.header .menu {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #231F20;
  font: 14px Roboto white;
}

.header .menu ul {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: flex-end;
  list-style: none;
}

.header .menu ul li a {
  font: 16px Roboto;
  color: #999999;
  text-decoration: none;
}

.header .menu ul li a:hover {
  color: #ef4517;
}

.header .menu ul li a:active {
  color: #ef4517;
}

.header .menu ul li #productInCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
}
.product {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(2vh);
}

.product .title {
  text: 14px Roboto white;
}
.shop-container {
  background-color: #231F20;
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
}
