html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  flex: auto;
}

.App .main-container {
  background-color: #231F20;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.cart-container {
  background-color: #231F20;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
  justify-content: flex-start;
}
.cart-product,
.cart-score {
  width: 80%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  font-size: calc(3vh);
  border-radius: 20px;
}

.cart-product .title,
.cart-score .title {
  position: relative;
  font: 14px Roboto white;
  font-size: 20px;
  color: #999999;
}

.cart-product .count,
.cart-score .count {
  position: relative;
  font: 14px Roboto white;
  font-size: 24px;
  color: #999999;
}

.cart-product .cart-btn,
.cart-score .cart-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.cart-product .cart-btn:hover,
.cart-score .cart-btn:hover {
  color: #ef4517;
}

.cart-product:hover,
.cart-score:hover {
  background-color: #545b62;
  color: #80bdff;
}

.cart-product .score,
.cart-score .score {
  justify-content: space-between;
  font: 14px Roboto white;
  font-size: 24px;
  font-weight: bold;
  color: #999999;
}
.header {
  background-color: #231F20;
  min-height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header .header-container {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header .logo {
  color: #999999;
}

.header .logo:hover {
  color: #ffffff;
}

.header .menu {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #231F20;
  font: 14px Roboto white;
}

.header .menu ul {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: flex-end;
  list-style: none;
}

.header .menu ul li {
  position: relative;
}

.header .menu ul li a {
  font: 16px Roboto;
  color: #999999;
  text-decoration: none;
}

.header .menu ul li a:hover {
  color: #ef4517;
}

.header .menu ul li a:active {
  color: #ef4517;
}

.header .menu ul li #productInCartCount {
  position: absolute;
  font-size: 18px;
  background: #DB9A8C;
  color: #ffffff;
  width: 40%;
  height: 40%;
  border-radius: 20px;
  text-align: center;
}
.form-container {
  background-color: #231F20;
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #999999;
  font: 14px Roboto white;
  font-size: 24px;
}

.form-container button {
  font-size: 24px;
}
.order-success {
  flex: auto;
  color: #999999;
  font: 14px Roboto white;
}

.order-success .logo {
  color: #999999;
}

.order-success .logo:hover {
  color: #ffffff;
}
.product {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(2vh);
  transition: all 0.3s ease-in-out;
}

.product .title {
  font: 14px Roboto white;
  color: #999999;
}

.product:hover {
  transform: scale(1.1);
  border-radius: 120px;
}

.product .add-to-cart {
  font: 14px Roboto white;
  color: #fff;
  font-size: 2vh;
}

.product .add-to-cart:hover {
  color: #F77272;
}
.shop-container {
  background-color: #231F20;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
}
