{% extends 'base.html.twig' %}
{% block body %}
    <div class='shop-container'>
        {% for product in products %}
            {{ include('shop/product.html.twig', {'product':product}) }}
        {% endfor %}
    </div>
{% endblock %}