@import "vars";

.cart-container {
  background-color: @main-bgcolor;
  min-width: @min-width;
  max-width: @main-width;
  display: @main-display;
  flex-direction: column;
  flex: auto;
  align-items: center;
  justify-content: flex-start;
}