@import "vars";

@product-width: 80%;
@product-height: 250px;

.product {
  width: @product-width;
  max-width: @main-width;
  height: @product-height;
  display: @main-display;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(2vh);
  transition: all .3s ease-in-out;

  .title {
    font: @main-text;
    color: @main-color;
  }

  &:hover {
    transform: scale(1.1);
    border-radius: 120px;
  }

  .add-to-cart {
    font: @main-text;
    color: #fff;
    font-size: 18px;

    &:hover {
      color: #F77272;
    }
  }
}